# Environment variables
.env

# Logs
*.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db 